.swiper-pagination{
    margin-top: 10px;
position: static;
}
.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: #ddf7e9;
  }
  .swiper-pagination-bullet-active {
    color:black;
    background: #1fc76a;
  }
  .swiper-button-prev,
  .swiper-button-next{
    color: #1fc76a;
  }